<!DOCTYPE HTML>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

  <title>Query Realtime SF Bus Locations With GeoFire 2.0</title>

  <!-- STYLESHEETS -->
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/buttons.css" rel="stylesheet">
  <link href="css/site.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>



<body ng-app="app" ng-controller="appCtrl">

<h3>Google Maps</h3>

    <!-- search/go to current location -->
    <div class="text-right">
        <div class="input-append text-right">
            <input type="text" ng-model="search"/>
            <button class="btn" type="button" ng-click="geoCode()" ng-disabled="search.length == 0" title="search" >
              &nbsp;<i class="icon-search"></i>
            </button>
            <button class="btn" type="button" ng-click="gotoCurrentLocation()" title="current location">
              &nbsp;<i class="icon-home"></i>
            </button>
        </div>
    </div>

    <!-- map -->

      <app-map style="height:400px;margin:12px;box-shadow:0 3px 25px black;" id ="map"
        center="loc"
        markers="newLocation"

    > 
    </app-map>

    <!-- current location -->
    <div class="text-info text-right">
        {{loc.lat | lat:0}}, {{loc.lon | lon:0}}
    </div>

    <!-- list of airports -->
    <div class="container-fluid">
        <div class="span3 btn" 
            ng-repeat="a in airpor"
            ng-click="gotoLocation(a.lat, a.lon)">
            <b>{{a.code}}</b>: {{a.name}}
        </div>
    </div>
</body>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/google.js"></script>
<script type="text/javascript" src="app.js"></script>
<!-- <body> -->

  <!-- MAP -->
  <div id="map-canvas"></div>

  <!-- JAVASCRIPT -->


  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/2.2.5/firebase.js"></script>

  <!-- RSVP -->
  <!-- <script src="js/vendor/rsvp.min.js"></script> -->

  <!-- GeoFire -->
  <!-- <script src="js/vendor/geofire.min.js"></script> -->

  <!-- Lo-Dash -->
  <!-- <script src="js/vendor/lodash.min.js"></script> -->

  <!-- Custom JavaScript -->
  <!-- <script src="js/sfVehicles.js"></script> -->
  <!-- Google Maps -->
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6U2ExB8yLDc7RiGPYK3C3yIzDPpyFJE0&sensor=false callback=initializeMap"></script> -->

  <script type="text/javascript">
  /* Animates the Marker class (based on https://stackoverflow.com/a/10906464) */
    // google.maps.Marker.prototype.animatedMoveTo = navatationToFunction;
    //google.maps.event.addDomListener(window, "load", initializeMap);
  </script>

 <!--  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37102688-1']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script> -->

<!-- custom js -->
<!-- <script type="text/javascript" src="map/custom-map.js"></script> -->
<!-- <script type="text/javascript" src="app.js"></script> -->

<!-- </body> -->
</html>
